#barralat{
    position: relative;
    float: left;
    padding: 1%;
    border: groove 10px;
    width: 30%;
}
.imagenes{
    position: relative;
    top: 50;
    left: 50;
transform: translateX(25%);
    width: 40%;
}
figure{
    width: 100%;
}
#barra{
    float: left;
    width: 55%;
    text-align: center;
}
.inst{
    text-align: center;
    font-size: 30px;
    color: burlywood;
} 
.info{
    text-align: center;
    font-family: serif;
    font-size: 25px;
}
#div-content{
    position: absolute;
    left: 40vw;
    float: right;
}